header.main-header
  a.access(href='content') Skip to content
  section.header-wrapper
    h1
      a(href='/')
        img(src='/images/kd-logo.png' width='460' height='186' alt='Konspire Design')
      .nav-toggle-wrapper.hidden-lg
        a#nav-toggle(href='javascript:void(0)')
          span
    nav.main-nav.hidden-sm.hidden-xs
      ul
        li
          a#nav-home(href='/') Home
        li
          a#nav-about(href='/about') About
        li
          a#nav-portfolio(href='/portfolio') Portfolio
        li
          a#nav-contact(href='/contact') Contact
        #nav-helper.hidden-xs.hidden-sm
    #bg-helper &nbsp;

nav.mobile-nav.hidden-lg
  ul
    li
      a#nav-home(href='/') Home
    li
      a#nav-about(href='/about') About
    li
      a#nav-portfolio(href='/portfolio') Portfolio
    li
      a#nav-contact(href='mailto:vm@konspiredesign.com?Subject=Inquiry%20about%20web%20design') Contact

.mobile-nav-overlay
.wrapper
  include _contact-bubble
