extends layout

block content
  //- <body class="{{page_settings.body_class}}-body">

  include partials/header
  
  <div class="wrapper">
    <section class="content" id="content">
      <article class="generic-article">
        <h3>Drop as a line</h3>
        <p></p>
        <p><em>Email Vasily at:</em><br> <a href="mailto:vm@konspiredesign.com">vm@konspiredesign.com</a></p>
      </article>
      <div class="clearfix"></div>
    </section>

  </div>


  include partials/footer
