extends layout-error

block content
  include partials/header

  .wrapper
    section#content.content

      article.generic-article
  
        h2 Error #{error_num}: Page #{message}
        p
        hr
        p
        pre #{error.stack}
    
  include partials/footer

