extends layout

block content
  include partials/header
  
  <section class="short-desc">
    <article>
      <figure class="man" id="man-left"></figure>
      <h2>I ran a small web design and development shop. <strong>I build websites</strong> of various complexity providing <strong>simple user interfaces</strong> for <strong>smartphones, tablets, and PCs.</strong></h2>
      <h3>UI/UX design, front-end (CSS, HTML, JS) and back-end (Node, Python), open source and custom CMSs.</h3>
      <figure class="man" id="man-right"></figure>
      <figure id="light-switch"></figure>
    </article>
  </section>

  <div class="wrapper">   
    <section id="photo-slideshow" class="hidden-xs">
      <figure></figure>
      <div class="shadow-bottom hidden-xs hidden-sm"></div>
      <div class="corner-left hidden-xs hidden-sm"></div>
      <div class="corner-right hidden-xs hidden-sm"></div>
    </section>

    <section class="content" id="content">
      <div class="content-wrapper">
        <aside id="main-left">
          <h2>What I Offer</h2>
          <p>I build user-friendly, accessible websites that look great on any device. Perfect for individuals and growing businesses.</p>
          <p class="p-2">Don't worry if tech-talk confuses you—I explain everything in plain English.</p>

          <blockquote>
            <p>Konspire Design is a great design and graphics company that is fast, responsive, reliable and effective in executing our marketing goals.</p>
            <p class="sig"><em>&mdash;Peter Onsmark, Filmbudget.com</em></p>
          </blockquote>

          <p>I use popular, up-to-date tools like Hugo, Webflow, WordPress for content management and modern JavaScript for interactivity.</p>
          <p><abbr class="tooltip" title="This means your site will be easy to maintain and update, even if you work with someone else in the future.">Why this matters</abbr></p>
        </aside>
        <section id="portfolio-reel">
          <h3>Featured Work</h3>
          <ul>
            <li>
              <img class="pf-thumb" src="/images/portfolio/thumbs/thmb-occol.jpg" alt="Thumbnail">
            </li>
            <li>
              <img class="pf-thumb" src="/images/portfolio/thumbs/thmb-hallass.jpg" alt="Thmb Hallass">
            </li>
            <li>
              <img class="pf-thumb" src="/images/portfolio/thumbs/thmb-col-mod.jpg" alt="Thmb Col Mod">
            </li>
            <li>
              <img class="pf-thumb" src="/images/portfolio/thumbs/thmb-moving.jpg" alt="Thmb Moving">
            </li>
          </ul>
          <div class="clearfix"></div>
        </section>
      </div>

      <aside id="main-right">
        <article id="five-reasons" class="yellow-col">
          <h4>Why Choose Me for Your Digital Project</h4>
          <ol>
            <li><p><b>I put users first.</b> Your audience's experience is my top priority.</p></li>
            <li><p><b>I love what I do.</b> This passion shows in the quality of my work.</p></li>
            <li><p><b>I build custom solutions.</b> Need a unique <abbr class="tooltip" title="Content Management System">CMS</abbr> or blog? I've got you covered.</p></li>
            <li><p><b>I use modern, open-source tech.</b> No obscure or outdated stuff here.</p></li>
            <li><p><b>I'm flexible.</b> From tweaking designs to creating entire websites, I can handle projects big and small.</p></li>
          </ol>
        </article>
      </aside>

    </section> <!-- /content -->
  </div>

  include partials/footer