.hidden-xs {
  display: none !important;
}

.header-wrapper {
  width: auto;
}

.main-header {
  height: auto;
}

.main-header h1 img {
  margin-left: -67px;
}

.about-page #main-left {
  margin-top: 0;
  min-height: 0;
}

#about {
  float: none;
}

#about-konspire {
  position: static;
  width: auto;
}

.generic-article {
  width: auto;
  margin: 0 20px;
}

#twitter-blurb {
  position: relative;
  margin: -70px 0 0 60px;
  top: auto;
}

#flickr-feed {
  padding: 0 15px;
  margin-left: 0;
}

.album-wrapper ul {
  width: auto;
}

.album-wrapper ul li {
  width: 33%;
}

.wrapper {
  width: auto;
}

.content {
  margin: 0;
  padding-top: 15px;
  width: auto;
}

.content aside {
  float: none;
  margin: 0;
}

#main-left {
  max-width: 1000px;
  min-height: 0;
  margin-right: 0;
}

.content h1 {
  line-height: 1.1;
}

.content-wrapper {
  border: 0;
  padding: 0 15px 30px;
}

.content-wrapper h2,
#main-left h2 {
  margin: 0 0 1em 0;
  padding: 5px 10px;
  text-align: center;
}

.short-desc article {
  padding-top: 20px;
}

.short-desc h2 {
  font-size: 1.6em;
  line-height: 1.2;
}

.short-desc h2 em {
  font-size: inherit;
}

.short-desc h3 {
  font-size: 1.2em;
  padding: 0 15px 20px;
  line-height: 1.3;
}

#photo-slideshow {
  padding-bottom: 0;
  width: auto;
}

#photo-slideshow figure {
  width: auto;
}

#portfolio-reel {
  width: auto;
  position: static;
  padding: 0;
}

#portfolio h2 {
  float: left;
  margin-bottom: 10px;
}

.yellow-col {
  position: static;
  width: auto;
}

.man {
  display: none;
}

.portfolio-page aside {
  position: static;
  width: auto;
}

#portfolio-pieces ul {
  height: auto;
  margin-bottom: 40px;
}

/* Footer */
.main-footer {
  height: auto;
  margin-bottom: 0;
  text-align: center;
}

.main-footer .copy {
  float: none;
  margin: 15px 0 10px;
}

.main-footer nav {
  float: none;
  margin: 0 0 5px;
  display: inline-block;
}

.main-footer nav li:first-child {
  margin-left: 0;
}
